body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    background-color: #0a0a57;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

@media (max-width: 560px) {
    html {
        font-size: 70%;
    }
}
