.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 18px;
}

input,
label {
    color: #fff;
}

input {
    border: none;
    background: transparent;
    font-size: 300px;
    width: 350px;
    font-weight: 500;
    text-align: center;
}
input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

input::placeholder {
    color: #fff;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn {
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 18px;
    padding: 4px 14px;
    cursor: pointer;
    transition: all 0.1s;
}

.btn:hover {
    color: #0a0a57;
    background-color: #fff;
}
